@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form id="formAdd">
            <input type="text" id="name" />
            <input type="text" id="age" />
        </form>
    </div>
</body>
</html>
